# OS metadata
.DS_Store
Thumbs.db

# Environment & secrets
.env
.local.env
.test.env
*.env.local
*.env.*.local

# IDE & editor configs
.idea
.vscode/
.cursor

# AI tool configs
.claude/
.gemini/

# Internal / CI scripts
.engops/

# Test API scratch files
.testapi/

# Go
__debug_bin
coverage.out
gitness.session.sql

# Build artifacts
/gitness
/solodev
/logfile.log
/server.PID
release

# Node / Frontend
web/node_modules
web/dist
web/coverage
web/.yalc
web/yalc.lock
web/cypress/node_modules
yarn-error*
node_modules/
node_modules
dist
.yalc
yalc.lock

# Database
*.sqlite
*.sqlite3
/app/store/database/test.db

# Keys
*.rsa
*.rsa.pub

# Research / notes
NOTES*
_research

# adding support for .http files
http-client.private.env.json

# ignore any executables we build
/registry/logs/*
/distribution-spec
/registry/distribution-spec

# test file generated
cargo_conformance_report.json
go_conformance_report.json
maven_conformance_report.json
maven_junit_report.html
maven_junit_report.xml
npm_conformance_report.json
test_output.txt

registry/tests/cargo/cargo_conformance_report.json
registry/tests/gopkg/go_conformance_report.json
registry/tests/maven/maven_conformance_report.json
registry/tests/npm/npm_conformance_report.json
